[submodule "toolkit"]
	path = graphs/perfsonar-graphs/toolkit
	url = https://github.com/perfsonar/toolkit
[submodule "shared"]
	path = graphs/perfsonar-graphs/shared
	url = https://github.com/perfsonar/perl-shared
