#Ignore mac hidden file
.DS_Store
# Ignore quilt cache directory and backup files
.pc/
+debian/patches/*~
# dojo
html/js/dojo
# ignore npm build areas etc.
node_modules
npm-debug.log
examples-bundle.js
# Temp files
.*.swo
.*.swn
.*.swp
# Vagrant
.vagrant/
unibuild-log
unibuild-work/
unibuild-repo/
