[submodule "toolkit"]
	path = submodules/toolkit
	url = https://github.com/perfsonar/toolkit
[submodule "shared"]
	path = submodules/perl-shared
	url = https://github.com/perfsonar/perl-shared
[submodule "submodules/bundles"]
	path = submodules/bundles
	url = https://github.com/perfsonar/bundles
	branch = unibuild
[submodule "submodules/minor-packages"]
	path = submodules/minor-packages
	url = https://github.com/perfsonar/minor-packages
	branch = unibuild
[submodule "submodules/psTracerouteViewer"]
	path = submodules/psTracerouteViewer
	url = https://github.com/perfsonar/psTracerouteViewer
	branch = unibuild
