#Ignore mac hidden file
.DS_Store
# Ignore quilt cache directory
.pc/
# dojo
JS/dojo
# ignore npm build areas etc.
node_modules
npm-debug.log
examples-bundle.js
react/public/bundle.*
.*.swo
.*.swn
.*.swp
