rect.extent {
    fill: steelblue;
    opacity: 0.25;
}
#graphContainer { 
    padding: 1em 3em;
}
#brushContainer .yaxis > .tick {
    display: none;
}

#brushContainer .yaxis > .tick:first-child {
    display: block;
}

#brushContainer .yaxis > .tick:last-of-type {
    display: block;
}

.yaxis text.yaxis-label {
    transform: rotate(-90deg) 
        translate(-50px, -80px);
    font-size:14px;
}

#brushContainer .yaxis text.yaxis-label {
    transform: rotate(0deg) 
        translate(-25px, 65px);
    font-size:10px;
}

.overview--pad {
    padding:2em 0;
}

body {
    padding: 0;
}

