Source: perfsonar-toolkit-graphs
Section: net
Priority: optional
Maintainer: Valentin Vidic <Valentin.Vidic@CARNet.hr>
Build-Depends: debhelper (>= 9.0.0), quilt, dh-exec
Standards-Version: 3.9.6
Homepage: http://www.perfsonar.net/
Vcs-Git: git://github.com/perfsonar/graphs
Vcs-Browser: https://github.com/perfsonar/graphs

Package: perfsonar-toolkit-graphs
Architecture: all
Depends: apache2, perfsonar-traceroute-viewer,
 perl, libperfsonar-perl, libperfsonar-sls-perl,
 ${misc:Depends}
Description: pS-Performance Toolkit graphs
 A series of simple web-based GUIs that interact with the perfSONAR Information
 Services (IS) to locate and display remote datasets.
