<style type="text/css">
@import "/toolkit/content/dojo/dijit/themes/tundra/tundra.css";
</style>

<link rel="stylesheet" href="/toolkit/content/style.css" type="text/css" media="screen" />

<script language="javascript">
var summary_window = '[% window %]';
var source = '[% source %]';
var dest = '[% dest %]';
</script>

<script type="text/javascript" src="/toolkit/content/dojo/dojo/dojo.js" djConfig="parseOnLoad:true"></script>
<script type="text/javascript" src="/toolkit/content/dojo/dojo/dojo-ps-toolkit.js"></script>

    <input type="hidden" id="ma_host_type" value='[% ma_host_type %]'/>
	<script type="text/javascript" src="JS/initService.js"></script>
	<script type="text/javascript" src="JS/result.js"></script>
    <script type="text/javascript" src="JS/sorting.js"></script>
    <script type="text/javascript" src="JS/displayElements.js"></script>
	<script type="text/javascript" charset="utf-8" src="JS/d3.v3.min.js"></script>
	<script type="text/javascript" src="JS/crossfilter.min.js"></script>
	<script type="text/javascript" src="JS/dc.js"></script>
	<script type="text/javascript" src="JS/ps-dc.js"></script>
	<script type="text/javascript" src="JS/graphWidget.js"></script>
	<!-- <script type="text/javascript" src="JS/psGraph.js"></script> -->
    <link rel="stylesheet" href="css/dc/bootstrap.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/dc/dc.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/serviceTest/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/serviceTest/css/spinner.css" type="text/css" media="screen" />


<!-- <div id="body" class="dijitContentPane" dojotype="dijit.layout.ContentPane" widgetid="body"> -->

 

<!-- - See more at: http://cssload.net/#sthash.exGxzPML.dpuf -->

<!-- </div> --> <!-- end body div -->

        <div class="chartHeader">
            <h4>perfSONAR-PS Test Results</h4>
            <table class="hosts">
            <tr><th>Source: <span id="source_host"></span> ([% source %])</th><th>Destination: <span id="dest_host"></span> ([% dest %])</th></tr>
            <tr>
                <td>Capacity: <span id="source_capacity">Unknown</span></td>
                <td>Capacity: <span id="dest_capacity">Unknown</span></td>
            </tr>
            <tr>
                <td>MTU: <span id="source_mtu">Unknown</span></td>
                <td>MTU: <span id="dest_mtu">Unknown</span></td>
            </tr>
            </table>
            <div class="content">Date range: </div>
        </div>

    <div id="chart" style="width:790px;height:465px;">

        <div id="ps-all-tests" class="chart"><h4>all tests</h4>
            <div id="time-selector">
                <b>Zoom: </b>
                <a href="#" id="4hLink" class="zoomLink" name="4h">4h</a> 
                <a href="#" id="1dLink" class="zoomLink" name="1d">1d</a>
                <a href="#" id="1wLink" class="zoomLink active" name="1w">1w</a> 
                <a href="#" id="1mLink" class="zoomLink" name="1m">1m</a> 
                <a href="#" id="1yLink" class="zoomLink" name="1y">1y</a>
            </div> 
        <div id="loading">
            <div id="circularG">
            <div id="circularG_1" class="circularG">
            </div>
            <div id="circularG_2" class="circularG">
            </div>
            <div id="circularG_3" class="circularG">
            </div>
            <div id="circularG_4" class="circularG">
            </div>
            <div id="circularG_5" class="circularG">
            </div>
            <div id="circularG_6" class="circularG">
            </div>
            <div id="circularG_7" class="circularG">
            </div>
            <div id="circularG_8" class="circularG">
            </div>
            </div> 
            <h4>Loading ...</h4>
        </div>
        </div>
        <div class="ps-timerange-nav"><div class="prev"><a href="#">Previous</a></div><div class="next"><a href="#">Next</a></div></div>
    </div>

