<body class="tundra">

<style type="text/css">
@import "JS/dojo/dijit/themes/tundra/tundra.css";
@import "JS/dojo/dijit/themes/tundra/Dialog.css";
</style>

<link rel="stylesheet" href="css/style-toolkit.css" type="text/css" media="screen" />

<script language="javascript">
var summary_window = '[% window %]';
var sources = [];
[% FOREACH source IN sources %]
sources.push("[% source %]");
[% END %]

var dests = [];
[% FOREACH dest IN dests %]
dests.push("[% dest %]");
[% END %]

var ipversions = [];
[% FOREACH ipv IN ipversions %]
ipversions.push("[% ipv %]");
[% END %]

var agents = [];
[% FOREACH agent IN agents %]
agents.push("[% agent %]");
[% END %]

var tools = [];
[% FOREACH tool IN tools %]
tools.push("[% tool %]");
[% END %]

var protocols = [];
[% FOREACH protocol IN protocols %]
protocols.push("[% protocol %]");
[% END %]

var custom_ma_filters = [];
[% FOREACH filter IN filters %]
custom_ma_filters.push("[% filter %]");
[% END %]


</script>

<script type="text/javascript" src="JS/dojo/dojo/dojo.js" djConfig="parseOnLoad:true"></script>
<script type="text/javascript" src="JS/dojo/dojo/dojo-ps-toolkit.js"></script>

    <input type="hidden" id="ma_host_type" value='[% ma_host_type %]'/>
	<script type="text/javascript" src="JS/initService.js"></script>
	<script type="text/javascript" src="JS/result.js"></script>
    <script type="text/javascript" src="JS/sorting.js"></script>
    <script type="text/javascript" src="JS/displayElements.js"></script>
	<script type="text/javascript" charset="utf-8" src="JS/d3.v3.min.js"></script>
	<script type="text/javascript" src="JS/crossfilter.min.js"></script>
	<script type="text/javascript" src="JS/dc.js"></script>
	<script type="text/javascript" src="JS/ps-dc.js"></script>
	<script type="text/javascript" src="JS/graphWidget.js"></script>
	<!-- <script type="text/javascript" src="JS/psGraph.js"></script> -->
    <link rel="stylesheet" href="css/dc/bootstrap.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/dc/dc.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/perfsonar-graphs/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/perfsonar-graphs/css/spinner.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="JS/dojo/dijit/themes/tundra/Dialog.css" /> 
    <link rel="stylesheet" href="JS/dojo/dijit/themes/tundra/form/Button.css" />


<!-- <div id="body" class="dijitContentPane" dojotype="dijit.layout.ContentPane" widgetid="body"> -->

 

<!-- - See more at: http://cssload.net/#sthash.exGxzPML.dpuf -->

<!-- </div> --> <!-- end body div -->

        <div class="chartHeader" style="margin-left: auto; margin-right: auto; width: 700px;">
            <div id="share_chart">
                    <a href="" id="share_chart_link" target="_blank">Link to this chart</a>
            </div>
            <div id="chartError" class="error"></div>
            <table class="hosts">
 	    <tr>
   	        <th>Source</th>
	        <th></th>
	        <th>Destination</th>
	    </tr>
	    [% size = sources.size %]
	    [% size = size - 1 %]
	    [% FOREACH n IN [0 .. size] %]
	      <tr class="host_table_[% n mod 2 %]">
		<td>
		   <span class="host_table_host" id="source_host_[% n %]">
                       <span class="host_table_looking_up">Retrieving...</span>
                   </span>
                   - <span id="source_ip_[% n %]">[% sources.$n %]</span>
		</td>
		<td>
		   --
		</td>
	      	<td>
		   <span class="host_table_host" id="dest_host_[% n %]">
                       <span class="host_table_looking_up">Retrieving...</span>
                   </span> 
                   - <span id="dest_ip_[% n %]">[% dests.$n %]</span>
                </td>
  	      </tr>
              <tr class="host_table_[% n mod 2 %]">
                <td>Capacity: 
                    <span id="source_capacity_[% n %]" style="margin-right: 10px;">Unknown</span>
                    MTU: <span id="source_mtu_[% n %]">Unknown</span>
                </td>
		<td></td>
                <td>Capacity: 
                    <span id="dest_capacity_[% n %]" style="margin-right: 10px;">Unknown</span>
                    MTU: <span id="dest_mtu_[% n %]">Unknown</span>
                </td>
              </tr>
            [% END %]
            </table>
            <div style="clear:both;"></div>
        </div>

            <div id="data_warning" style="display:none;" class=""></div> 

    <div id="chart" style="margin-left: 20px; margin-right: 20px;">

        <div id="time-selector" style="text-align: center; width: 350px; margin-left: auto; margin-right: auto; padding-top: 20px; ">
         	<div>
			<b>Zoom: </b>
                	  <a href="#" id="1dLink" class="zoomLink" name="1d">1d</a>
               	          <a href="#" id="3dLink" class="zoomLink" name="3d">3d</a>
			              <a href="#" id="1wLink" class="zoomLink" name="1w">1w</a> 
                          <a href="#" id="1mLink" class="zoomLink" name="1m">1m</a> 
                          <a href="#" id="1yLink" class="zoomLink" name="1y">1y</a>
                </div>
       </div>
       <div class="ps-timerange-nav" style="width: 700px; margin-left: auto; margin-right: auto;">
                <div class="prev">
		     <a href="#">Previous</a>
                </div>
                <div class="next">
                     <a href="#">Next</a>
                </div>
                <div id="ps-graph-options" class="ps-graph-options" style="float:right; margin: 0 0.75em; display:none;">
                    <button id="graph_options_button" data-dojo-type="dijit/form/Button" type="button" style="display:none;">Options</button>
                    <div data-dojo-type="dojox/widget/DialogSimple" data-dojo-id="optionsDialog" title="Chart Options" id="optionsDialog">
                        <form id="chart_options_form">
                        <table class="chart-options">
                            <tr>
                                <td>Latency</td> 
                                <td><input type="checkbox" id="latency_min" name="latency_values" value="minimum" checked="checked" /></td>
                                <td>Minimum</td>
                                <td><input type="checkbox" id="latency_median" name="latency_values" value="median" /> </td>
                                <td>Median</td>
                            </tr>
<!--
                            <tr>
                                <td>Loss</td>
                                <td><input type="checkbox" id="log_scale_checkbox"></td>
                                <td>Use log scale</td>
                                <td></td>
                                <td></td>
                            </tr>
-->
                        </table>
                        </form>
                    </div>

                </div>
	        <div class="chartTimeRange" style="text-align: center; width: 350px; margin-left: auto; margin-right: auto;"></div>

      </div>
      
      <div id="ps-all-tests" class="chart"></div>
      <div id="range-chart" class="rangeChart"></div>

        <div id="loading">
            <div id="circularG">
            <div id="circularG_1" class="circularG">
            </div>
            <div id="circularG_2" class="circularG">
            </div>
            <div id="circularG_3" class="circularG">
            </div>
            <div id="circularG_4" class="circularG">
            </div>
            <div id="circularG_5" class="circularG">
            </div>
            <div id="circularG_6" class="circularG">
            </div>
            <div id="circularG_7" class="circularG">
            </div>
            <div id="circularG_8" class="circularG">
            </div>
            </div> 
            <h4>Loading ...</h4>
        </div>
      <div class="legend dc-legend" id="legend"></div>
    </div>
</div>


</body>
