[% INCLUDE header.tmpl %]
	<input type="hidden" id="ma_host_type" value='[% ma_host_type %]'/>
	<script type="text/javascript" src="JS/initService.js"></script>
	<script type="text/javascript" src="JS/result.js"></script>
	<script type="text/javascript" src="JS/bwctl-datadiv.js"></script>
        <script type="text/javascript" src="JS/sorting.js"></script>
        <script type="text/javascript" src="JS/displayElements.js"></script>
        <div id="rContainer">	
 	<table id="bodylayout" width="700px" border="0">
   			<tr>
     			<td valign="top">
     				 <div id="testsContainer">
        				<h2 align='center'>perfSONAR-PS Tests</h2>
        			
					[% IF eventType %]
						<h4 class="divheading"> Service type: [% IF serviceDisplayName %] [% key=eventType %] [% serviceDisplayName.$key %]
						    [% ELSE %] [% $key %]
						    [% END %] </h4>
	                                        [% IF ma_host_type=='toolkit' %]
             	                                   <h4 class="divheading"><p id="initiator"></p></h4>
       	                                        [% END %]
					[% ELSE %]
						<h2 class="divheading"> Choose Service type </h2>
						[% FOREACH serviceType IN services.keys %]
        						[% IF hosts.size==1 %]
									[% FOREACH key IN hosts.keys %]
										<input type="radio" name="servicetype" onchange="processSelectedRadioOption('[% hosts.$key %]','[% services.$serviceType %]','[% ma_host_type %]')"  value="[% services.$serviceType %]"> [% serviceType %]
									[%END%]
							[% ELSE %]
   									<input type="radio" name="servicetype" onchange="showTestGroups()" default='' value="[% services.$serviceType %]"> [% serviceType %]
							[% END %]
						[% END %] 	
					[% END %]
					[% IF groups.size %]
						[% FOREACH serviceType IN services.keys %]
							<div id="[% services.$serviceType %]" style='display:block'>
								<ul>
								[% FOREACH group IN groups %]
							      		[% key=group.type %][% IF services.$key == services.$serviceType %]	
							 			<p> [% group.name %] <select id="[% group.id %]">
										[% FOREACH member IN group.members %]
											<option value="[% hosts.$member %]"> [% member %] </option>
										[% END %]
										</select> <button name="GetResponse" value="Display" onClick="doclick('[% group.id %]','[% key=group.type %][% services.$key %]','[% ma_host_type %]'); return false;"> Display</button>
							     		[% END %]
								[% END %]
								</ul>
							</div>
						[% END %]	
					[% END %]	       				
					 <div id='testParametersDiv' style="display:none"><p><h3 class="divheading">Test Parameters:</h3></div>
                    			 <br><div id='Progress' width="100px" height="25px" style="background-color: #3090C7; color: #FFFFFF; display: none;"> &nbsp; </div>
					 <hr><br>

 					 <p><h3 class="divheading">Active Tests: </h3></p>
		[% IF eventType=='bwctl' %]
 					 <p><i><h4>The tests listed below have collected data within the last 7 days</h4></i></p>
 					 [% ELSIF eventType=='owamp' %]
 					  <p><i><h4>The tests listed below have collected data within the last 30 minutes</h4></i></p>
 					 [% END %]	
 					 <p><img src="images/uparrow.png" width="9px" height="9px" align="left"/> - Sorted(asc) by that column. Click on column headings to sort
                                          [% IF ma_host_type=='toolkit' %]
						<h4><p id="initiator"></p></h4>
                                          [% END %]
					 <div id='Active' > &nbsp; </div>
					 <br><hr><br>
	
					 <div id='datadisplay'>
	                                        <p><h3 class="divheading">Graphs: </h3></p>					
						<p><span id='resultDisplay'></span><img id='chartDisplay' style='visibility:hidden'></img></p>
	                                        <br><hr><br>
					 </div>

					 <p><h3 class="divheading">Inactive Tests: </h3>
					 [% IF eventType=='bwctl' %]
					 <p><i><h4>The tests listed below have not collected any new data for more than 7 days</h4></i></p>
					 [% ELSIF eventType=='owamp' %]
 					  <p><i><h4>The tests listed below have not collected any new data for more than 30 minutes</h4></i></p>
 					 [% END %]	
					 <p><img src="images/uparrow.png" width="9px" height="9px" align="left"/> - Sorted(asc) by that column. Click on column headings to sort
					 </p><div id='Inactive' > &nbsp; </div>

					 <br><hr/><br>

				</div></div>

</td>
</tr>
</div>
[% IF eventType %] 
	[% IF hosts.size==1 %]
        	[% FOREACH key IN hosts.keys %]
                	  <script type="text/javascript"> window.onload = processSelectedRadioOption('[% hosts.$key %]','[% key = eventType %][% services.$key %]','[% ma_host_type %]'); </script>
        	[%END%]
 	[% END %]
[% END %]
</div>
[% INCLUDE footer.tmpl %]

